/*  {
  outline: 1px solid red;
} */

html,
body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  overflow: hidden !important;
  /* Disable horizontal scrolling */
  width: 100%;
  /* Ensure the body fits within the viewport */

}

html {
  height: 100%;
}

body {
  /* position: fixed; */
  left: 0;
  display: block;
  /* Default block layout */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* Disable horizontal scrolling */
}

.container {
  overflow-x: hidden;
  display: block;
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 12px;
  background-color: rgb(255, 255, 255);
  pointer-events: none;
  /* Disables all pointer events */
  touch-action: none;
  /* Disables touch-specific actions */

}

.logoTop {
  width: auto;
  height: 40px;
}


.backButton {
  position: fixed;
  bottom: 10px;
  /* Adjust as needed */
  left: 10px;
  /* Adjust as needed */
  z-index: 9999;
  /* Ensure the button appears on top of other elements */
}

.data-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.301);
  display: block;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 35%;
  gap: 12px;
  margin-top: 10px;
  bottom: 65px;
  right: 10px;
  z-index: 999;
  max-width: 100%;
  /* Ensure container doesn’t overflow */
  overflow: hidden;
}


/* @media screen and (max-width: 768px) {
  .data-container {
    position: absolute;
  }
} */





.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}


.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.square {
  position: relative;
  width: 350px;
  height: 350px;
  background: transparent;
  border: 10px solid #000;
}

.fa-qrcode {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 300px;
  color: #000;
}

.scan {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(cyan, transparent);
  animation: scanning 1.5s linear alternate infinite;
}

@keyframes scanning {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(170px);
  }
}

#QR-animation {
  width: 200px;
  height: 200px;
}

#QR-animation .square {
  width: 100%;
  height: 100%;
}

#QR-animation .fa-qrcode {
  font-size: 150px;
}

#QR-animation .scan {
  height: 40px;
}


.intro {
  width: 90%;
  max-width: 36rem;
  padding-bottom: 1rem;
  margin: 0 auto 1em;
  padding-top: 0.5em;
  font-size: calc(1rem + 2vmin);
  text-transform: capitalize;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
  text-align: center;
}

.intro small {
  display: block;
  opacity: 0.5;
  font-style: italic;
  text-transform: none;
}

.info {
  margin: 0;
  padding: 1em;
  font-size: 0.9em;
  font-style: italic;
  font-family: serif;
  text-align: right;
  opacity: 0.5;
}

.info a {
  color: inherit;
}

/* Form styling */
form {
  position: fixed;
  top: 75px;
  right: 10px;
  width: 50px;
  /* Initial collapsed width */
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  max-width: 95vw;
  /* Prevent exceeding the viewport width */
}

form.expanded {
  width: 95vw;
  z-index: 9999;
  /* Expanded width when clicked */
}

input {
  position: relative;
  width: 100%;
  max-width: 100vh;
  /* Prevent input overflow */
  padding-left: 20px;
  line-height: 30px;
  border-radius: 20px;
  height: 42.5px;
  box-sizing: border-box;
  display: none;
  /* Initially hidden */
  font-size: 16px;
  /* Prevent iOS zooming */
}

form.expanded input {
  display: block;
  /* Show input when form is expanded */
}

.fa {
  position: absolute;
  top: 0;
  right: 0;
  width: 42.5px;
  height: 42.5px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 50%;
  text-align: center;
  line-height: 42.5px;
  font-size: 1.2em;
  transition: background 0.5s ease-in-out, opacity 0.5s ease-in-out, color 0.5s ease-in-out;
}

form:hover .fa {
  background: #000000;
  opacity: 0.7;
  color: white;
}

/* Suggestions container dropdown animation */
.suggestions-container {
  overflow-y: auto;
  display: block;
  position: fixed;
  top: 140px;
  left: 15px;
  right: 15px;
  background: #cececed0;
  max-height: 400px;
  /* Limit height for long lists */
  border-radius: 10px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  z-index: 9999;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  /* Initially hidden */
}

.suggestions-container.show {
  transform: scaleY(1);
  opacity: 1;
  /* Fully visible */
}

/* Suggestions list animation */
.suggestions-list {
  background: #f9f9f9;
  width: 90%;
  padding: 15px 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  transform: translateX(-20px);
  /* Start slightly left */
}

.suggestions-list.animated {
  opacity: 1;
  transform: translateX(0);
  /* Move to original position */
}

.suggestions-list:hover {
  background-color: #e6f7ff;
  transform: translateY(-2px);
}

.suggestions-list-name h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #333333;
  margin: 0;
  text-align: left;
}

.hidden {
  display: none;
}



.a-scene-container {
  position: fixed;
  width: 100vw;
  overflow: hidden;
}

.center-menu {
  position: fixed;
  display: none;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 55vw;
  height: auto;
  z-index: 9999;
}

.center-menu img {
  top: 0;
  left: 50%;
  width: 100%;
  height: auto;
  position: absolute;
  animation: boink 0.5s ease-in-out forwards, rotate 15s linear infinite 0.7s;
  z-index: 9998;
}

.center-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40vw;
  /* Adjust circle size as needed */
  height: 40vw;
  background-color: rgba(0, 0, 0, 0.6);
  /* Black with 60% opacity */
  border-radius: 50%;
  /* Makes it a circle */
  transform: translate(-50%, -50%) scale(0);
  /* Start with scale(0) for animation */
  animation: boink 0.5s ease-in-out forwards;
  /* Apply the same animation */
  animation-delay: 0.5s;
  /* Delay the animation by 0.5 seconds */
  z-index: 9999;
  /* Ensure it appears on top of the image */
  display: flex;
  /* Enable flexbox */
  flex-direction: column;
  /* Stack elements vertically */
  justify-content: center;
  /* Center elements vertically */
  align-items: center;
  /* Center elements horizontally */
}

.center-circle h3,
.center-circle h6,
.center-circle p {
  margin: 0;
  /* Remove default margins */
  line-height: 1.2;
  /* Adjust line height for reduced spacing */
}

.center-circle h3 {
  width: 80%;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  /* Bold font weight */
  color: white;
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.center-circle h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  /* Regular font weight */
  color: white;
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.center-circle p {
  width: 70%;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  /* Regular font weight */
  color: white;
  font-size: 12px;
  /* Smaller font size for `p` */
  text-align: center;
}

.cancel-btn-container {
  position: fixed;
  bottom: 11%;
  right: 10px;
  width: 42.5px;
  /* Same width as the button */
  height: 42.5px;
  /* Same height as the button */
  background: #b14242;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  /* Makes it circular */
  cursor: pointer;
  z-index: 2000;
  /* Ensure the cancel button is above other elements */
  text-align: center;
  /* Aligns the icon horizontally */
  line-height: 42.5px;
  /* Aligns the icon vertically */
  transition: background 0.5s ease-in-out, opacity 0.5s ease-in-out, color 0.5s ease-in-out;
  opacity: 0;
  /* Initially invisible */
}

.cancel-btn-container i {
  font-size: 1.2em;
  /* Adjust font size to match the button size */
}

.fa:hover,
.cancel-btn-container:hover {
  background: #b14242;
  /* Change background on hover */
  color: rgb(255, 255, 255);
  /* Change icon color on hover */
}

.center-menu2 {
  position: fixed;
  visibility: visible;
  opacity: 1;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 55vw;
  height: auto;
  z-index: 9999;
}

.center-menu2.hidden {
  visibility: hidden;
  opacity: 0;
}

.center-menu2 img {
  top: 0;
  left: 50%;
  width: 100%;
  height: auto;
  position: absolute;
  animation: boink 0.5s ease-in-out forwards, rotate 15s linear infinite 0.7s;
  z-index: 9998;
}

.center-circle2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40vw;
  /* Adjust circle size as needed */
  height: 40vw;
  background-color: rgba(0, 0, 0, 0.6);
  /* Black with 60% opacity */
  border-radius: 50%;
  /* Makes it a circle */
  transform: translate(-50%, -50%) scale(0);
  /* Start with scale(0) for animation */
  animation: boink 0.5s ease-in-out forwards;
  /* Apply the same animation */
  animation-delay: 0.5s;
  /* Delay the animation by 0.5 seconds */
  z-index: 9999;
  /* Ensure it appears on top of the image */
  display: flex;
  /* Enable flexbox */
  flex-direction: column;
  /* Stack elements vertically */
  justify-content: center;
  /* Center elements vertically */
  align-items: center;
  /* Center elements horizontally */
}

.center-circle2 h3,
.center-circle2 h6,
.center-circle2 p {
  margin: 0;
  /* Remove default margins */
  line-height: 1.2;
  /* Adjust line height for reduced spacing */
}

.center-circle2 h3 {
  width: 80%;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  /* Bold font weight */
  color: white;
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.center-circle2 h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  /* Regular font weight */
  color: white;
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.center-circle2 p {
  width: 70%;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  /* Regular font weight */
  color: white;
  font-size: 12px;
  /* Smaller font size for `p` */
  text-align: center;
}

.direction-container{
  padding: 20px;
  position: absolute;
  left: 0px;
  top: 60px;
  background-color: #e6f7ff;
  font-family: Arial, sans-serif;
  width: 100%;
  height: auto;
  min-height: 100px;
  max-height: 200px;
  z-index: 99999;
  overflow-y: auto;
}

.direction-step {
  margin-bottom: 20px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.direction-step p {
  margin: 5px 0;
}

/* #directions-container {
  font-family: Arial, sans-serif;
  margin: 20px;
}



 */

.cancel-btn-container2 {
  position: fixed;
  top: 11%;
  right: 10px;
  width: 42.5px;
  /* Same width as the button */
  height: 42.5px;
  /* Same height as the button */
  background: #c04545;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  /* Makes it circular */
  cursor: pointer;
  z-index: 2000;
  /* Ensure the cancel button is above other elements */
  text-align: center;
  /* Aligns the icon horizontally */
  line-height: 42.5px;
  /* Aligns the icon vertically */
  transition: background 0.5s ease-in-out, opacity 0.5s ease-in-out, color 0.5s ease-in-out;
  opacity: 0;
  /* Initially invisible */
}

.cancel-btn-container2 i {
  font-size: 1.2em;
  /* Adjust font size to match the button size */
}

.fa:hover,
.cancel-btn-container:hover {
  background: #f0f0f0;
  /* Change background on hover */
  color: rgb(0, 0, 0);
  /* Change icon color on hover */
}

.cancel-btn-container2 {
  opacity: 0;
  display: none;
}

.btn-content {
  z-index: 9999;
  position: fixed;
  top: 55px;
  right: -10px;
  text-align: center;
  margin: 20px;
}

/* Button Styling */
.btn-custom {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(135deg, #ff686b, #ba181b);
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 25px;
  padding: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;
  overflow: hidden;
}

/* Hover Effect */
.btn-custom:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

/* Left Text */
.btn-custom .title {
  margin: 15px;
  font-size: 10px;
  white-space: nowrap;
}

.btn-custom .icon-container {
  height: 50px;
  width: 80px;
  display: inline-flex;
  align-items: center;
  justify-content:center;
  background: #ba181b;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 25px;
  padding: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;
  overflow: hidden;

}


.btn-content2 {
  z-index: 9998;
  position: fixed;
  top: 110px;
  left: -10px;
  text-align: center;
  margin: 20px;
}

.event-slider-container {
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.event-card {
  top: 100px;
  z-index: 10000;
  position: absolute;
  height: auto;
  max-height: 70%;
  width: 80vw;
  overflow-y: auto;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.event-card img {
  width: 100%;
  max-height: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.event-card h3 {
  margin: 10px 0 5px;
  font-size: 1.5rem;
  color: #333;
}

.event-card p {
  margin: 5px 0;
  font-size: 1rem;
  color: #666;
}

.event-card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.event-card button:hover {
  background-color: #0056b3;
}

.event-slider-container.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  z-index: 9999; /* Ensure it appears above other elements */
  pointer-events: none; /* Prevent interaction with the overlay */
}

.btn-events {
  font-family: "Roboto", sans-serif;
  z-index: 9998;
  position: fixed;
  top: 55px;
  left: -10px;
  text-align: center;
  margin: 20px;
}

.btn-events span{
  font-size: 12px;
}

.btn-custom3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #4CAF50, #2ECC71);
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 50px;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, background 0.3s ease;
}

.btn-custom3:hover {
  background: linear-gradient(90deg, #2ECC71, #4CAF50);
  transform: translateY(-3px);
}

.btn-custom3:active {
  transform: translateY(1px);
}

.btn-custom3 .fas {
  font-size: 20px;
  margin-right: 10px;
}

.btn-custom3 .title {
  margin-left: 5px;
}


/* Button Styling */
.btn-custom2 {
  height: 50px;
  width: 80px;
  display: inline-flex;
  align-items: center;
  justify-content:center;
  background: #ba181b;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 25px;
  padding: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;
  overflow: hidden;
}

/* Hover Effect */
.btn-custom2:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

/* Left Text */
.btn-custom2 .title {
  margin: 15px;
  margin-left: 5px;
  font-size: 10px;
  white-space: nowrap;
}

.btn-custom2 .icon-container2 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #ba181b,#ff686b);
  /* Darker green for the pointy section */
  padding-left: 20px;
  border-radius: 10px;
  clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 15% 100%, 0% 50%);
}

.notification-container {
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 40%;
  height: 12%; /* Full viewport height */
  left: 10px;
  top:10%;
  position: fixed;
  z-index: 5000;
}

/* Animation classes */
.show-notification {
  animation: fadeSlideIn 1s ease-out;
}

.hide-notification {
  animation: fadeSlideOut 1s ease-out;
}

/* Notification Box */
.notification-box {
  background-color: #ffffff; /* Gray background */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  text-align: left;
  padding-left: 15px;
  padding-right: 20%;
  height: auto;
  width: 100%;
  color: rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
  position: relative; /* For stacking the image */
  z-index: 5001; /* Ensure text is above the image */
}

/* Notification Heading */
.notification-box h4 {
  font-size: 10px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
}

.notification-box h1 {
  font-size: 12px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.notification-box p {
  font-size: 8px;
  margin-top: 0;
  margin-bottom: 10px;
}

/* Location Icon */
.location-icon {
  position:absolute;
  width: auto;
  height: 80%;
  transform: translate(115%, 0); /* Adjust image position */
  z-index: 5002;
}

.slide-out-left {
  animation: slideOutLeft 0.5s ease-out forwards; /* 0.5s slide out with easing */
}

.slide-in-left {
  animation: slideInLeft 0.5s ease-out forwards; /* 0.5s slide out with easing */
}


/* Keyframes for scaling effect */
@keyframes boink {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  50% {
    transform: translate(-50%, -50%) scale(1.1);
    /* Slightly larger for bounce effect */
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes boink-reverse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    transform: translate(-50%, -50%) scale(1.1);
    /* Slightly larger for reverse bounce effect */
  }

  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}

/* Keyframes for continuous rotation */
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    /* Start at 0 degrees */
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    /* Complete a full rotation */
  }
}

/* Keyframes for fade and slide in from left */
@keyframes fadeSlideIn {
  0% {
    opacity: 0; /* Fully transparent */
    transform: translateX(-100%); /* Start from off-screen to the left */
  }
  100% {
    opacity: 1; /* Fully visible */
    transform: translateX(0); /* End at the original position */
  }
}

/* Keyframes for fade and slide out to the left */
@keyframes fadeSlideOut {
  0% {
    opacity: 1; /* Fully visible */
    transform: translateX(0); /* Start at the original position */
  }
  100% {
    opacity: 0; /* Fully transparent */
    transform: translateX(-100%); /* Move off-screen to the left */
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0); /* Start at its current position */
  }
  100% {
    transform: translateX(-100vw); /* Move completely off-screen to the left */
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  flex-direction: column;
  color: black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.progress-container {
  width: 80%;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.progress-bar {
  width: 0%;
  height: 100%;
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  border-radius: 10px;
  transition: width 0.3s ease;
}

#loading-message {
  font-size: 18px;
  margin-top: 10px;
}

.logo-container-load {
  position: absolute;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  z-index: 10000;
}

.logoTop-load {
  height: 40px;
  object-fit: contain;
}
